// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//modo claro/oscuro
$dark-mode-bg: #3c3c3cd9;
$dark-mode-text: #000000;

$light-mode-bg: #999999;
$light-mode-text: #333;
