// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//modo claro/oscuro
$dark-mode-bg: #2f2f2f;
$dark-mode-text: #000000;

$light-mode-bg: #706d6d;
$light-mode-text: #333;