// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
@import "variables";
//scss adicional
@import url("welcome");
// Bootstrap

@import "bootstrap/scss/bootstrap";

body {
    & {
        background-color: $light-mode-bg !important; // Fondo claro por defecto
        color: #000 !important; // Texto oscuro por defecto
    }

    &.dark-mode {
        background-color: $dark-mode-bg !important;
        color: $dark-mode-text;
    }
}

.mainClass {

    background: url("/storage/app/public/images/Fondo.png");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
