.nav-pills li {
    margin-bottom: 10px;
    background-color: red;
}

.nav-pills li a {
    background-color: transparent;
}

i, span{
    color:white;
}

.nav-pills li a.active,
.nav-pills li a:hover {
    background-color: blue;
    color: white;

}

.card-body i:hover {
    transform: scale(1.2);
}

.page-link{
    background: darkgray;
}